<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag url_for(@product.image),size: "500x500", class: "img-fluid", alt: @product.name if @product.image.attached? %>
    </div>
    <div class="col-md-8">
      <br/>
      <h2> $<%= @product.price %></h2>
      <br/>
      <p><strong>Description:</strong> <%= @product.description %></p>
      <p><strong>In Stock:</strong> <%= @product.stock %></p>
      <p><strong>Category:</strong> <%= @product.category_id %></p>
    </div>
  </div>
</div>
