<div class="container">
    <%= search_form_for(@product_query, url: "/products/search", method: :get) do |f| %>
      <div class="row">
        <div class="col">
          <h1>Search</h1>
        </div>
        <div class="col">
          <%= f.search_field :name_cont %>
          <%= hidden_field_tag(:type, "product") %>
          <%= select_tag :category, options_from_collection_for_select(@categories, 'id', 'name',"1"), include_blank: "All" %>
          <%= f.submit %>
        </div>
      </div>
      <hr/>
    <% end %>
    <div class="row">
      <% if @product_result.count == 0 %>
        <p>No Results found</p>
      <% else %>
        <%= render partial: "product", collection: @product_result %>
      <% end %>
    </div>
  <%= paginate @product_result %>
</div>